.button_restyling{
	-fx-font-family: Constantia;
	-fx-font-size: 14px;
	-fx-text-alignment: center;
	-fx-border-color: #3e3e3e;
	-fx-border-radius: 5px;
	-fx-background-color: linear-gradient(#e4dcc6, #E5CFBD);
	-fx-background-radius: 5px;
}
.button_restyling:hover{
	-fx-font-family: Constantia;
	-fx-font-size: 14px;
	-fx-text-alignment: center;
	-fx-border-color: #3e3e3e;
	-fx-border-radius: 5px;
	-fx-background-color: #E5CFBD;
	-fx-background-radius: 5px;
}
.button_restyling:pressed{
	-fx-font-family: Constantia;
	-fx-font-size: 14px;
	-fx-text-alignment: center;
	-fx-border-color: #3e3e3e;
	-fx-border-radius: 5px;
	-fx-background-color: #D9B79B;
	-fx-background-radius: 5px;
}
.button_restyling_bounds{
	-fx-pref-width: 200px;
	-fx-pref-height: 30px;
}
.button_play{
	-fx-background-image: url("../pics/icons8-play-48.png");
	-fx-background-size: 20px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.button_pause{
	-fx-background-image: url("../pics/icons8-pause-48.png");
	-fx-background-size: 20px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.button_stop{
	-fx-background-image: url("../pics/icons8-stop-48.png");
	-fx-background-size: 20px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.text{
	-fx-font-family: Constantia;
	-fx-font-size: 14px;
}
.window_background{
	-fx-background-color: #f1ede1;
	-fx-background-size: cover;
	-fx-border-color: #3e3e3e;
	/*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 4, 4); */
}
.button_close{
	-fx-background-repeat: no-repeat;
	-fx-border-radius: 5px;
	-fx-border-color: #C62121;
	-fx-background-color: transparent;
	-fx-background-image: url("../pics/icons-x.png");
	-fx-background-size: 8px;
	-fx-background-position: center;
	-fx-pref-width: 16px;
	-fx-pref-height: 16px;
}
.button_back{
	-fx-background-repeat: no-repeat;
	-fx-border-radius: 5px;
	-fx-border-color: #3e3e3e;
	-fx-background-color: transparent;
	-fx-background-image: url("../pics/icons-back.png");
	-fx-background-size: 18px;
	-fx-background-position: center;
	-fx-pref-width: 16px;
	-fx-pref-height: 16px;
	-fx-min-width: -fx-pref-width;
	-fx-min-height: -fx-pref-height; 
}
.close_area{
	-fx-background-color: #e4dcc6;
	-fx-background-radius: 0 0 5px 5px;
}